.root {
  li {
    display: inline-block;

    a {
      display: inline-block;
      font-weight: 600;
      text-align: center;
      width: 40px;
      height: 40px;
      line-height: 38px;
      border: 1px solid #4b4b4b;
      border-radius: 30px;
      margin-right: 20px;
      cursor: pointer;

      &:hover {
        background-color: #5b5b5b;
        font-weight: 800;
        color: #fff;
      }
    }
  }
  :global {
      .selected {
        a {
          background-color: #505050;
          color: #fff;
          font-weight: 800;
        }
    }
  }
  //:global {
  //  .previous {
  //    background-color: red;
  //  }
  //}
}