@import '../variables';

.painting-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &__image {
    width: 260px;
    border-radius: 20px 60px;

    transition: all 0.1s ease-in-out;

    &:hover {
      filter: grayscale(0%);
      transform:scale(1.03);
      cursor: pointer;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
    color: #1f1f1f;
  }

  &__selector {
    display: flex;
    background-color: #e7e7e7;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        //@include noselect();
        &.active {
          background: #cb7650;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
          color: #fff;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
    color: #151515;
  }
}
