.root {
  position: relative;
  // left: -250px;
}

.input {
  border: 1px solid rgba(162, 162, 162, 0.1);
  padding: 12px 0 16px 50px;
  width: 250px;
  border-radius: 40px 90px;
  font-size: 16px;
  background-color: #f1f1f1;

  @media (max-width: 820px) {
    width: 200px;
  }
  @media (max-width: 700px) {
    width: 150px;
  }
}

.icon__search {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  position: absolute;
  top: 12px;
  left: 14px;
}

.icon__close {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  position: absolute;
  top: 14px;
  right: 18px;
  transition: all 1s ease-in-out;

  &:hover {
    transform: rotate(90deg);
    opacity: 1;
  }
}
