$black: #131313;
$background: #efefef;
$gray-line: #adadad;
$orange: #2d2d2d;
$hover_color: #3b3b3b;

$container-width: 90%;

$duration: 0.15s;

$dark_blue: #326789;
$light_blue: #1a1a1a;
$white: #555555;
$peach: #e65c4f;
